<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/befLogin.css">
    <title>Document</title>
</head>
<body>
    <div class="page1">
        <div class="navbar">
                <div class="logo"></div>
                <div class="nav-opts">
                    <a href="">Home</a>
                    <a href="">About Us</a>
                    <a href="/login" id="log-sign">Login/SignUp</a>
                </div>
        </div>
        <div class="content1">
            <h1>From <b class="nstians">NSTians</b> <br>To Future <b class="nstians">NSTians</b></h1>
            <hr style="width: 80%; height: 1px; border-radius: 5px; color: white; margin-top: 30px;margin-bottom: 10px;">
            <h2 style="margin-top: 30px; font-size: 40px; font-weight: 400;">Our Courses</h2>
            <div class="courses">
                <div class="card">
                    <h2 style="margin-top: 20px;">Course Heading</h2>
                    <p style="margin-bottom: 10px;">This course is the best course for you, where you get hands on learning.</p>
                    <button class="enroll">Enroll Now!!</button>
                </div>
                <div class="card">
                    <h2 style="margin-top: 20px;">Course Heading</h2>
                    <p style="margin-bottom: 10px;">This course is the best course for you, where you get hands on learning.</p>
                    <button class="enroll">Enroll Now!!</button>
                </div>
                <div class="card">
                    <h2 style="margin-top: 20px;">Course Heading</h2>
                    <p style="margin-bottom: 10px;">This course is the best course for you, where you get hands on learning.</p>
                    <button class="enroll">Enroll Now!!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page2">
        <div class="page2-content">
            <h2>Know Your Seniors</h2>
            <div class="top">
                <div class="card1">
                    <div class="photo1"></div>
                </div>
                <div class="card1">
                    <div class="photo2">

                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="card1">
                    <div class="photo3">

                    </div>
                </div>
                <div class="card1">
                    <div class="photo4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page3">
        
    </div>

<script src="/javascripts/befLogin.js"></script>
</body>
</html>